In [1]:
t = (1,2,3)
t[0]

1

In [3]:
from collections import namedtuple

In [8]:
Dog = namedtuple('a','age breed name')

In [9]:
sam = Dog(age=2, breed='Lab', name='Sammy')

In [12]:
sam

a(age=2, breed='Lab', name='Sammy')

In [17]:
sam.breed

'Lab'

In [16]:
sam[0]

2

In [18]:
sam.name

'Sammy'

In [19]:
Cat = namedtuple('Cat', 'fur claws name')

In [20]:
variable = Cat(fur= 'Fuzzy', claws= False, name= 'Kitty')

In [21]:
variable[2]

'Kitty'

In [22]:
variable.claws

False